:root{
  --green:#C0D3A8;
  --pink:#D3A8A8;
  --blue: #C7F0FF;
  --white: #f6f3e5;
  --darkred: #8b0000;
  --darkgreen: #2f4f4f;
  --darkblue: #152669;
}


body{
    background-color: #f6f3e5;
    margin: auto;
}

/* Initial state: transparent */
body {
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

/* Final state: fully visible */
body.fade-in {
  opacity: 0;
}

.live-body{
  background-color: #C0D3A8;
}

.studio-body{
  background-color: #D3A8A8;
}
.post-body{
  background-color: #C7F0FF;
}

#live{
  width: 75%;
  margin: auto;
}

#studio{
  width: 75%;
  margin: auto;
}

#post{
  width: 75%;
  margin: auto;
}

#index{
  width: 90%;
  margin: auto;
  text-align: center;
}


h1 ,h2{
  font-family: "Oswald", sans-serif;
  color: black;
  font-size: 100px;
  /* line-height: 1; */
  padding: 0;
}

h2{
  font-family: "Oswald", sans-serif;
  color: darkslategray;
  font-size: 75px;
  line-height: .25;
}


 a, input, label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.25;
    /* font-weight: 500; */
}

.index-p{
  font-family: 'Times New Roman', Times, serif;
  line-height: .25;
  font-size: 20px;
  /* font-weight: 500; */
}


/***************** Nav ****************/
.logo{
    width: 100px;
    position: absolute;
    top: 25px;
    left: 50px;
}
.logo:hover{
    opacity: .8;
}

.links{
    float: right;
}

li {
    list-style: none;
    text-align: right;

  }

  li a {
    margin-right: 50px;
    text-decoration: none;
    color: black;
    font-family: "Crushed", sans-serif;
    letter-spacing: 5px;
    font-weight: 200;
    font-size: 20px;
    padding: 2px 10px 2px 15px;
    
  }

  .links a:hover{
    color: var(--white);
    background-color: black;
  }

  #studio-nav .links a:hover{
    color: var(--white);
    background-color: darkred;
  }

  #live-nav .links a:hover{
    color: var(--white);
    background-color: var(--darkgreen);
  }

  #post-nav .links a:hover{
    color: var(--white);
    background-color: var(--darkblue);
  }

  nav{
    margin: 0  auto ;
  }

  /******************************* Index *******************************/
  .intro{
    width: 60%;
    margin: auto;
  }


  .all-albums-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px; /* Add space between items */
  }
  
  .album-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
    padding-top: 200px;
    width:350px; /* Set a fixed width for the album container */
  }
  
  .img-album,
  .img-vinyl {
    width: 100%; /* Make images fill their container */
    max-width: 600px; /* Set a maximum width for images */
    height: auto; /* Maintain aspect ratio */
  }
  
  .img-album {
    box-shadow: 0 10px 15px 0px #a6a6a6;
    position: absolute;
    z-index: 1;
    transition: transform 0.3s ease;
    left: 0px;
  }
  
  .img-vinyl {
    left: 50px;
    position: absolute;
    z-index: 0;
    transition: transform 0.3s ease, left 0.3s ease;
    transform: rotate(-90deg);
  }
  
  .album-flex:hover .img-vinyl {
    transform: rotate(90deg);
    left: 160px;
    cursor: pointer;
  }
  
  .album-flex:hover .img-album {
    transform: translate(-10px);
    cursor: pointer;
  }
  
  /******************************* About *******************************/

#about {
    width: 60%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 50px;
    /* border: 1px black solid; */
  }
  
  .about-flex{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    margin: auto 0;
  }
  
  .img-about {
    width: 700px;
    height: 700px;
    /* margin-left: auto; */
    /* border-radius: 5%; */
  }
  
  .about-description {
    /* padding-right: 30px; */
    width: 600px;
  }
  
  #about p {
    line-height: 1.2em;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
  
  }
  
  #about a{
    color: darkslategray;
    font-size: 30px;
    padding-right: 5px;
    
  }
  
  #about h1,h2{
    color: darkslategray;
  }
  
  #about a:hover{
    color: black;
  }


  /******************************* Contact *******************************/

  #contact{
    width:80%;
    margin: auto;
  }

  #contact h1{
    font-size: 60px;
    padding-top: 50px;
  }

  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    background-color: #f4f2ea;
    resize: none /* Allow the user to vertically resize the textarea (not horizontally) */

  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: darkslategrey;
    color: white;
    padding: 15px 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: black;
  }
  
  .form{
    width: 500px;
    padding-top: 20px;
    margin: auto;
    padding-bottom: 50px;
  }

  /* .contact-flex{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse ;
    flex-wrap: wrap;
    align-items: center;
  } */

  /* .contact-img{
    width: 100px;
    height: 100px;

  } */

    /******************************* Live Sound *******************************/
    .live-bio{
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: black;
      font-size: 20px;
      font-weight: 200;
      margin: 0em;
      padding-top: 20px;
    }

    .container-flex p{
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: black;
      font-size: 14px;
      font-weight: 200;
      margin: 0em;

    }

    .container-flex2 p{
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: black;
      font-size: 14px;
      font-weight: 200;
      margin: 0em;

    }

    .live-body h3{
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      padding-top: 5px;
      font-size: 16px;
      font-weight: normal;
    }

    /* .live-header{
      padding-top: 250px;
      padding-bottom: 25px;
      margin: 0;
      line-height: 6em;
      
    } */
    .live-header2{
      /* padding-top: 100px; */
      font-size: 45px;
    }

    .img-scroll{
      /* display: block;
      margin-left: auto;
      margin-right: 0; */
      padding-top: 40px;
      height: 350px;
      width: 350px;
    }

    .container-flex {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-content: center;
      align-items: center;

      
  }
  
  .img-livesound {
      width: 400px; /* Increase if necessary */

  }
  
  .performances-flex-text {
      width: 600px; /* Adjust to fit the layout */
  }

  .container-flex2 {
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding-bottom: 100px;
    
}

.performances-flex-text2 {
    width: 600px; /* Adjust to fit the layout */
}

    hr{
      border:none;
      background: linear-gradient(to left, var(--blue) 33.33%, var(--white)33.33%, var(--white) 66.66%, darkslategray 66.66%);
    
     width: 175px;
     height: 10px;
     text-align: right;
     margin: 0;
     /* margin-top: 1px; */
    
    }

        /******************************* Studio *******************************/



    .studio-header{
      padding-top: 250px;
      padding-bottom: 25px;
      margin: 0;
      line-height: 0%;
      
      /* padding-bottom: -1000px; */
    }
    .studio-header2{
      /* padding-top: 100px; */
      font-size: 45px;
      color: var(--darkred);
    }

    #studio hr{
      border:none;
      background: linear-gradient(to left, #ffc0cb 33.33%, var(--white)33.33%, var(--white) 66.66%, var(--darkred) 66.66%);
    
     width: 175px;
     height: 10px;
     text-align: right;
     margin: 0;
     /* margin-top: 1px; */
    }

    .studio-body h3{
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      padding-top: 5px;
      font-size: 16px;
      font-weight: normal;
    }



/******************************* Record Player *******************************/

    .player{
			background-color: darkred;
			width: 330px;
			height: 190px;
			border-radius: 8px;
			box-shadow: 0 8px 0 0 rgb(112, 0, 0);
    position: relative;
    }
 
    figcaption{
      font-family: "Crushed", sans-serif;
    letter-spacing: 2px;
    font-weight: 200;
      padding-top: 30px;
      text-align: center;
    }

    .img-play-text{
      width: 15px;
      padding: 4px 4px 0px 4px;
    }

      .record{
        height: 175px;
        width: 175px;
        background-color: #181312;
        border-radius: 50%;
        position: absolute;
        top:10px;
        left: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .record:before{
        content: "";
        position: absolute;
        height: 135px;
        width: 135px;
        border:5px solid transparent;
        border-top:5px solid #2C2424;
        border-bottom:5px solid #2C2424;
        border-radius: 50%;
      }

      .record:after{
        content: "";
        position: absolute;
        height: 95px;
        width: 95px;
        border:5px solid transparent;
        border-top:5px solid #2C2424;
        border-bottom:5px solid #2C2424;
        border-radius: 50%;
      }

      .label{
        background-color: #181312;
        height: 15px;
        width: 15px;
        border:20px solid pink;
        border-radius: 50%;
      }

      .control{
        background-color: #181312;
        height: 17px;
        width: 17px;
        border:10px solid #2c2c2c;
        border-radius: 50%;
        position: absolute;
        top:-16px;
        left: -16px;
      }

      .tone-arm{
        height: 90px;
			width: 6px;
			background-color: #ffffff;
			position: absolute;
			top:25px;
			right: 95px;
			transition: 1s;
			transform-origin: top;
      }

      .tone-arm:before{
        content: "";
        height: 40px;
        width: 6px;
        background-color: #ffffff;
        position: absolute;
        transform: rotate(30deg);
        bottom:-36px;
        right: 10px;
      }

      .tone-arm:after{
        content: "";
        position: absolute;
        height: 0;
        width: 10px;
        border-top: 18px solid #B2AEA6;
        border-left:2px solid transparent;
        border-right:2px solid transparent;
        transform: rotate(30deg);
        top:108px;
        right: 12.5px;
      }

      .btn{
        height: 28px;
        width: 28px;
        background-color: #ED5650;
        border-radius: 50%;
        position: absolute;
        bottom: 20px;
        right: 30px;
        border:none;
        border:3.5px solid rgb(190, 39, 42) ;
        animation-play-state: paused;
        outline: none;
        cursor: pointer;
        
      }
      .img-play{
        height: 10px;
      }

      .play{
        transform:rotate(30deg);
        transform-origin: top; 
        transition: 1s;
      }

      .on{
        animation: rotate 3s 1s linear infinite;
      }
      @keyframes rotate{
        100%{
          transform: rotate(360deg);
        }
      }

      .slider{
			transform: rotate(-90deg);
			width: 90px;
			height: 7px;
			-webkit-appearance:none;
			background-color: rgb(190, 39, 42) ;
			border:3px solid #ED5650 ;
			border-radius: 3px;
			outline: none;
			position: absolute;
			left: 233px;
			top:60px;
		}

    .slider::-webkit-slider-thumb{
			-webkit-appearance:none;
			background-color: white;
			width:10px;
			height: 12px; 
			cursor: pointer;
		}

    


        /******************************* Post *******************************/

    .post-body p{
      font-family: 'Times New Roman', Times, serif;
      color: black;
      font-size: 25px;
    }

    #post hr{
      border:none;
      background: linear-gradient(to left, var(--darkgreen) 33.33%, var(--white)33.33%, var(--white) 66.66%, var(--darkblue) 66.66%);
    }

    .post-header2{
      /* padding-top: 100px; */
      font-size: 45px;
      color: var(--darkblue);

    }

    .post-body p{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: black;
      font-size: 20px;
      padding-top: 25px;
      font-weight: 200;
      margin: 0em;

    }
    
    iframe{
      width: 450px; 
      height: 253px;

    }

    .video-container {
      position: relative;
      text-align: center;
    }
 
    .overlay-image {
      position: absolute;
      top: -170px;
      right: 175px;
      width: 600px;
      height: auto;
      pointer-events: none;

    }

    .flex-text {
      width: 450px; /* Adjust to fit the layout */
  }























    /* MEDIA QUERIES FROM LARGEST TO SMALLEST */
/* Extra small devices (portrait phones, less than 576px) */
@media (min-width: 550px) {

  .album-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-top: 50px; */
    position: relative;
    width:200px; /* Set a fixed width for the album container */
  }

  .album-flex:hover .img-vinyl {
    transform: rotate(90deg);
    left: 100px;
    cursor: pointer;
  }

  .all-albums-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px; /* Add space between items */
  }

  .live-header{
    padding-top: 100px;
    padding-bottom: 25px;
    margin: 0;
    line-height: 6em;
    
  }

  /* .logo{
    width: 75px;
} */

}


   /******************************* Media device resize *******************************/

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 767.98px) {
  .album-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
    width:150px; /* Set a fixed width for the album container */
  }

  .album-flex:hover .img-vinyl {
    transform: rotate(90deg);
    left: 100px;
    cursor: pointer;
  }

  .live-header{
    padding-top: 250px;
    padding-bottom: 25px;
    margin: 0;
    line-height: 6em;
    
    /* padding-bottom: -1000px; */
  }

}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 991.98px) {
  .album-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
    margin-top: 150px;
    width:150px; /* Set a fixed width for the album container */
  }

  .album-flex:hover .img-vinyl {
    transform: rotate(90deg);
    left: 90px;
    cursor: pointer;
  }

  .live-header{
    padding-top: 250px;
    padding-bottom: 25px;
    margin: 0;
    line-height: 0em;

    
    /* padding-bottom: -1000px; */
  }
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 1199.98px) {
  .album-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
    margin-top: 200px;
    width:225px; /* Set a fixed width for the album container */
  }

  .album-flex:hover .img-vinyl {
    transform: rotate(90deg);
    left: 100px;
    cursor: pointer;
  }

  .live-header{
    padding-top: 250px;
    padding-bottom: 25px;
    margin: 0;
    line-height: 0em;
    
    /* padding-bottom: -1000px; */
  }

}

/* Extra large devices (large desktops)
No media query since the extra-large breakpoint has no upper bound on its width */