body{
    /* width: 60%; */
    background-color: #f6f3e5;
    margin: auto;
}
/* Initial state: transparent */
body {
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

/* Final state: fully visible */
body.fade-in {
  opacity: 1;
}
.live-body{
  background-color: #C0D3A8;
}

.studio-body{
  background-color: #D3A8A8;
}


.post-body{
  background-color: #C7F0FF;
}

#live{
  width: 65%;
  margin: auto;
}

#studio{
  width: 65%;
  margin: auto;
}

#post{
  width: 65%;
  margin: auto;
}



h1 ,h2{
    font-family: "Oswald", sans-serif;
    color: black;
}

p, a, input, label{
    font-family: 'Times New Roman', Times, serif;
    /* font-weight: 500; */
}


/***************** Nav ****************/
.logo{
    width: 100px;
}
.logo:hover{
    opacity: .8;
}

.links{
    float: right;
    padding-top: 40px;
}

li {
    display: inline;
  }

  li a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
  }

  a:hover{
    color: darkslategray;
  }

  nav{
    width: 80%;
    margin: 0  auto ;
  }

  /******************************* Index *******************************/
  .intro{
    width: 60%;
    margin: auto;
  }


  .all-albums-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px; /* Add space between items */
  }
  
  .album-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
    padding-top: 200px;
    width:350px; /* Set a fixed width for the album container */
  }
  
  .img-album,
  .img-vinyl {
    width: 100%; /* Make images fill their container */
    max-width: 600px; /* Set a maximum width for images */
    height: auto; /* Maintain aspect ratio */
  }
  
  .img-album {
    box-shadow: 0 10px 15px 0px #a6a6a6;
    position: absolute;
    z-index: 1;
    transition: transform 0.3s ease;
    left: 0px;
  }
  
  .img-vinyl {
    left: 50px;
    position: absolute;
    z-index: 0;
    transition: transform 0.3s ease, left 0.3s ease;
    transform: rotate(-90deg);
  }
  
  .album-flex:hover .img-vinyl {
    transform: rotate(90deg);
    left: 160px;
    cursor: pointer;
  }
  
  .album-flex:hover .img-album {
    transform: translate(-10px);
    cursor: pointer;
  }
  
  /******************************* About *******************************/

#about {
    width: 60%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 50px;
    /* border: 1px black solid; */
  }
  
  .about-flex{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    margin: auto 0;
  }
  
  .img-about {
    width: 700px;
    height: 700px;
    /* margin-left: auto; */
    /* border-radius: 5%; */
  }
  
  .about-description {
    /* padding-right: 30px; */
    width: 600px;
  }
  
  #about p {
    line-height: 1.2em;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
  
  }
  
  #about a{
    color: darkslategray;
    font-size: 30px;
    padding-right: 5px;
    
  }
  
  #about h1,h2{
    color: darkslategray;
  }
  
  #about a:hover{
    color: black;
  }


  /******************************* Contact *******************************/

  #contact{
    width:60%;
    margin: auto;
  }

  #contact h1{
    font-size: 60px;
  }

  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    background-color: #f4f2ea;
    resize: none /* Allow the user to vertically resize the textarea (not horizontally) */

  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: darkslategrey;
    color: white;
    padding: 15px 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: black;
  }
  
  .form{
    width: 500px;
    padding-top: 20px;
    margin: auto;
  }

  .contact-flex{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto 0;
  }

  .contact-img{
    width: 550px;
    height: 550px;
    padding-top: 80px;
  }

    /******************************* Live Sound *******************************/

    .live-body h1{
      font-family: "Oswald", sans-serif;
      color: black;
      font-size: 200px;
      line-height: .25;
    }

    .live-body p{
      font-family: 'Times New Roman', Times, serif;
      color: black;
      font-size: 25px;
    }
    .studio-body h1{
      font-family: "Oswald", sans-serif;
      color: black;
      font-size: 200px;
      line-height: .25;
    }
    .studio-body p{
      font-family: 'Times New Roman', Times, serif;
      color: black;
      font-size: 25px;
    }
    .post-body h1{
      font-family: "Oswald", sans-serif;
      color: black;
      font-size: 150px;
      line-height: .25;
    }

    .post-body p{
      font-family: 'Times New Roman', Times, serif;
      color: black;
      font-size: 25px;
    }


  



    /* MEDIA QUERIES FROM LARGEST TO SMALLEST */
/* Extra small devices (portrait phones, less than 576px) */
@media (min-width: 550px) {
  .img-home {
    right: -600px;
  }

}


   /******************************* Media device resize *******************************/

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 767.98px) {
  .album-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
    margin-top: 100px;
    width:200px; /* Set a fixed width for the album container */
  }

  .album-flex:hover .img-vinyl {
    transform: rotate(90deg);
    left: 100px;
    cursor: pointer;
  }

}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 991.98px) {
  .album-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
    margin-top: 100px;
    width:225px; /* Set a fixed width for the album container */
  }

  .album-flex:hover .img-vinyl {
    transform: rotate(90deg);
    left: 90px;
    cursor: pointer;
  }
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 1199.98px) {
  .album-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
    margin-top: 200px;
    width:375px; /* Set a fixed width for the album container */
  }

  .album-flex:hover .img-vinyl {
    transform: rotate(90deg);
    left: 160px;
    cursor: pointer;
  }

}

/* Extra large devices (large desktops)
No media query since the extra-large breakpoint has no upper bound on its width */